@charset "utf-8";
/* CSS Document */
*{
margin: 0;
padding: 0;
}

header{
	background-image:url(7-11.jpg);
	height: 200px;
	color:slategray;
	font-size: 80px;
	padding-left: 30px;
}

#menu ul{
	list-style-type: none;
	
	padding-top: 30px;
}
ul#menu {
    background-color: blueviolet;
}
#menu li{
	display: inline;
	padding-left: 50px;
	
}
#menu li:hover{
	background-color: aqua;
	color:crimson;
}
h1{
	color: darkred;
}
aside{
	background-color: antiquewhite;
	float:right;
	width: 20%;
	padding: 50px;
	height1: 100px;
}
img{
	float:left;
	padding:20px;
}
section{
	height: 100px;
	padding-top: 10px;
}
footer ul{
	list-style-type: none;
	padding-top: 150px;
}
footer li{
	display: inline;
	padding-left: 70px;
	
	
}