@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#layout{
	padding: 0 80px;
}
header{
	background-image: url(7-11.jpg);
	height: 150px;
	color: aliceblue;
	font-size: 30px;
	padding-left: 30px;
	background-size: cover;
}

#ul menu{
	list-style-type: none;
	background-color: navajowhite;
}
#menu li{
	display: inline;
	padding-left: 80px;
	background-color: antiquewhite;
	background-position: center;
	
}
#menu li:hover{
	background-color: brown;
	color: aliceblue;
}
img{	
	float: left;
	padding-right: 50px;
}
fieldset{
	padding-left: 20px;
	padding-bottom: 20px;
}
legend{
	padding: 20px 0
}
label{
	padding: 20px 0;
}
footer ul{
	list-style-type: none;
}
footer li{
	display: inline;
	padding-left: 80px;
}