@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
h1{
	color: brown;
}
aside {
	float:right;
	padding-top: 30px;
}
section{
	padding-top:20px;
}
ul{
	list-style-image:url('coffee (1).png');
}
video{
	padding-top: 200px;
}